%h3= @deal.day
%h3= @deal.money
%p= @deal.note

=link_to "Home", root_path
=link_to "Edit", edit_deal_path(@deal)
=link_to "Delete", deal_path(@deal), method: :delete, data: {confirm: "Xóa thật chứ đuà à?"}